{# @var friends \AppBundle\Entity\User[] #}

{% extends 'base.html.twig' %}

{% block main %}

        <section class="find-friends-user" csrf_token="{{ csrfToken }}">
            <input type="text" class="friends_search_input"/>
            <div class="search_friends_results">

            </div>
            <div class="suggestion_for_user">

            </div>
        </section>


{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/findFriends.js') }}"></script>

{% endblock %}

