@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka|Indie+Flower&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background-color: #77CC6D;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #E75348;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}
.register_container {
    margin-top: 40px;
    border-radius: 50px;
    display: flex;
    padding: 20px;
    background-color: white;
    width: 65%;
}

.register_container .regiser_description p {
    width: 100%;
    font-family: 'Chilanka', cursive;
    font-family: 'Indie Flower', cursive;
}

.register_container h3 {
    font-family: 'Chilanka', cursive;
    text-align: center;
}

.regiser_description {
    width: 50%;
}

.register_btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #77CC6D;
    border: none;
    color: white;
}

.register_btn_container {
    text-align: right;
}