<div id="{{ id }}" class="friend_id">
    <img src="{{ image }}" />
    <p class="full_name">{{ fullName}}</p>
    {{#if countMsg }}
        <p class="current_user_count_message"><span>{{ countMsg }}</span></p>
    {{/if}}
</div>