<div id="{{ id }}">
    <div>
        <img src="uploads/profileImages/{{ profile_image }}" style="width: 350px" />
    </div>
    <p>Name: {{ full_name }}</p>
    <div>
        <p>You are friends</p>
    </div>
</div>