 <div id="{{id}}">
    <div>
        <img src="uploads/profileImages/{{profile_image}}" style="width: 350px" />
    </div>
    <p>Email: {{email}}</p>
    <div>
     <button id="{{ id }}" class="add_suggestion">Add</button>
    </div>
</div>