{% extends 'base.html.twig' %}

{% block main %}
    <section>
        {{ form(form) }}
    </section>
{% endblock %}

{% block stylesheets %}
    <link href="node_modules/toastr/build/toastr.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('node_modules/toastr/build/toastr.min.js') }}"></script>
    <script src="{{ asset('js/common.js') }}"></script>
{% endblock %}
